.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

.Header-logo {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 60px;
}

@media (max-width: 700px) {
    .Header-logo {
        display: none;
    }
}